<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProtoSlice</title>
</head>
<body>
    <form action="{{ url_for(current_version + '.home') }}" method="post" enctype="multipart/form-data">
        <div>
            <label for="stlFile">Upload STL File:</label>
            <input type="file" id="stlFile" name="stlFile" accept=".stl"><br>
            <p>or</p>
            <label for="gcsLink">File link:</label>
            <input type="text" id="gcsLink" name="gcsLink"><br>
        </div><br><br>
        <label for="filament">Select filament</label>
        <select name="filament" id="filament">
        {% for filement in filements %}
            <option value="{{ filement }}">{{ filement }}</option>
        {% endfor %}
        </select><br><br>

        <label for="process">Select process</label>
        <select name="process" id="process">
        {% for process in processes %}
            <option value="{{ process }}">{{ process }}</option>
        {% endfor %}
        </select><br><br>

        <label for="supports">Enable supports</label>
        <input type="checkbox" id="supports" name="supports" value="true"><br><br>

        <label for="layer_height">Layer height</label>
        <input type="text" id="layer_height" name="layer_height" placeholder="e.g., 0.20mm"><br>
        <small>Specify layer height such as "0.20mm" or "0.2"</small>
        <br><br>

        <label for="include_3mf">Include .3mf file in response (will return as download)</label>
        <input type="checkbox" id="include_3mf" name="include_3mf" value="true"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>